<div class="row">    
    <!--
        searchBillToolTitle: string = "Search Bill Tool";
        exportContainerToolTitle: string = "Export Container Tool";
        acidControlTitle: string = "ACID control";
        hardCopyManifestToolTitle: string = "Hard Copy Manifest Tool";
    -->

    <div class="col-sm-3" align="center">
        <div class="card bg-primary mb-3" style="max-width: 18rem;" >
            <div class="card-body" routerLink='/angular-functionalities'>
                <h3 class="card-title">Test angular</h3>
                <p class="card-text">Angular POC</p>
                <!--<div class="col-sm-4">
                    <button routerLink='/angular-functionalities' type="button" class="btn btn-info">
                            Test angular functionalities
                    </button>
                </div> -->
            </div>
        </div>
    </div>

    <div class="col-sm-3" align="center">
        <div class="card bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">{{exportContainerToolTitle}}</h3>
                <p class="card-text">{{exportContainerToolTitle}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>

    <div class="col-sm-3" align="center">
        <div class="card bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">{{acidControlTitle}}</h3>
                <p class="card-text">{{acidControlTitle}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>

    <div class="col-sm-3" align="center">
        <div class="card bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">{{hardCopyManifestToolTitle}}</h3>
                <p class="card-text">{{hardCopyManifestToolTitle}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-3" align="center">
        <div class="card bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body" routerLink='/actors'>
                <h3 class="card-title">{{shopTracking}}</h3>
                <p class="card-text">{{shopTracking}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>

    <div class="col-sm-3" align="center">
        <div class="card bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body" routerLink='/mscserver'>
                <h3 class="card-title">{{shopTracking}}</h3>
                <p class="card-text">{{shopTracking}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12" align="center">
        <p >Logistics tab</p>
    </div>
</div>
